.tableProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tableProductos table {
  height: 65%;
  width: 60vw;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 10px 4px #1c1c1c;
  border: 1px solid #1c1c1c;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.tableProductos table thead {
  border-bottom: 1px solid #1c1c1c;
  position: fixed;
  width: 60vw;
  z-index: 1;
  background-color: #e0e0e0;
}

.tableProductos table tbody {
  margin-top: 2.5rem;
}
.tableProductos table thead tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tableProductos table thead tr th {
  padding: 0.4rem;
  color: #1c1c1c;
  font-family: "Moulpali", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: lighter;
}

.tableProductos table tbody tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tableProductos table tbody tr td {
  padding: 1rem;
  color: #1c1c1c;
  font-family: "Moulpali", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 8%;
  justify-content: center;
}

.buttonsAlergeno {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.agregarProducto button {
  display: flex;
}

.agregarProducto {
  display: grid;
  grid-template-columns: 1fr !important;
  border-top: 1px solid #1c1c1c;
}

.agregarProducto td button {
  display: flex;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
}

.tableProductos table tbody tr td .descripcion {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 10rem;
  max-height: 8vh;
  min-width: 10rem;
  overflow-y: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  height: 20%;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #1c1c1c;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 0.4rem;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
