.tableProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tableProductos table {
  height: 80%;
  width: 60vw;
  background-color: #2c3e4f;
  box-shadow: 0px 0px 10px 4px #2c3e4f;
  border: 1px solid #1c1c1c;
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
}

.tableProductos table thead {
  border-bottom: 1px solid #1c1c1c;
  position: fixed;
  width: 60vw;
  z-index: 1;
  background-color: #e0e0e0;
}

.tableProductos table tbody {
  margin-top: 2.5rem;
  overflow-y: auto;
}
.tableProductos table thead tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tableProductos table thead tr th {
  padding: 0.4rem;
  color: #1c1c1c;
  font-family: "Moulpali", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: lighter;
}

.tableProductos table tbody tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tableProductos table tbody tr td {
  padding: 1rem;
  color: white;
  font-family: "Moulpali", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 8%;
  justify-content: center;
}

.buttonsAlergeno {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.agregarProducto button {
  display: flex;
}

.agregarProducto {
  display: grid;
  grid-template-columns: 1fr !important;
  border-top: 1px solid white;
}

.agregarProducto td button {
  display: flex;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
}

.descripcion {
  overflow-x: auto; /* Activa el scroll horizontal */
  overflow-y: hidden; /* Desactiva el scroll vertical */
  width: 100%; /* Ocupa el ancho total de la celda */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 10vh; /* Limita la altura máxima a 10vh */
}

.descripcion span{
  white-space: nowrap; /* Evita el salto de línea */
  width: 100%; /* Ocupa el ancho total de la celda */
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  height: 10%;
  color: #2c3e4f;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #2c3e4f;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 0.4rem;
  color: #2c3e4f;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.tableProductos table tbody::-webkit-scrollbar {
  width: 12px;
}

.tableProductos table tbody::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
}

.tableProductos table tbody::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.tableProductos table tbody::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.descripcion::-webkit-scrollbar {
  width: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.descripcion::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
}

.descripcion::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.descripcion::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
