.cardSucursalSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgba(125, 140, 147, 0.9);
  height: auto !important;
}

.cardSucursalSide h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #1c1c1c;
  margin: 1rem;
  font-size: 2rem;
}

.cartaSucursalContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cartaSucursal {
  display: flex;
  width: 18vw;
  height: 45vh;
  flex-direction: column;
  border: 1px solid #1c1c1c;
  margin: 0.4rem;
  align-items: center;
  background-color: #e0e0e0;
  box-shadow: inset 0px 0px 10px #1c1c1c;
  border-radius: 5px;
  justify-self: center;
}

.cartaSucursal h1 {
  font-size: 1rem;
  color: #1c1c1c;
  margin: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cartaSucursal p {
  color: #1c1c1c;
  margin: 0.4rem;
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cartaSucursal img {
  width: 60%;
  height: 25vh;
  position: relative;
  border: 1px solid #1c1c1c;
  border-radius: 0.4rem;
}

.cartaSucursal div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin: 0.4rem;
}

.cartaSucursal div button {
  display: flex;
}

.cardSucursalButton {
  display: flex;
  width: 18vw;
  height: 45vh;
  flex-direction: column;
  border: 1px solid #1c1c1c;
  margin: 0.4rem;
  align-items: center;
  background-color: #7d8c93;
  box-shadow: inset 0px 0px 10px #1c1c1c;
  border-radius: 5px;
  justify-self: center;
}

.cardSucursalButton button span {
  border: 1px solid #1c1c1c;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.cardSucursalButton button h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.cardSucursalButton button {
  width: 18vw;
  height: 45vh;
  cursor: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-direction: column;
}
