.cardEmpresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto !important;
  padding-bottom: 5vh;
  padding-top: 5vh;
  justify-content: space-around;
  border-bottom: #1c1c1c 2px solid;
  background-repeat: repeat-x !important;
  background-position: center center !important;
  background-size: contain !important;
}
.cardEmpresaTituloImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cardEmpresaTituloImg h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #1c1c1c;
  margin: 1rem;
  font-size: 2rem;
}

.buttonsEmpresa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.buttonsEmpresa button {
  display: flex;
}

.cardEmpresaButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1c1c1c;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: inset 0px 0px 10px #1c1c1c;
  background-color: #e0e0e0;
  margin: 0.4rem;
  height: 40vh;
  width: 15vw;
  justify-self: center;
}

.cardEmpresaButton button h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.cardEmpresaButton button {
  height: 40vh;
  width: 15vw;
  cursor: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-direction: column;
}

.cardEmpresaButton button span {
  border: 1px solid #1c1c1c;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.cardEmpresaSide::-webkit-scrollbar {
  width: 12px;
}

.cardEmpresaSide::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
}

.cardEmpresaSide::-webkit-scrollbar-thumb {
  background-color: rgba(125, 140, 147, 1);
  border-radius: 0.4rem;
  border: 1px solid #1c1c1c;
}

.cardEmpresaSide::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
